
div.container {
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    position: relative;
}

a {
    text-decoration: none;
}


/*Header*/
header {
    float: left;

}


div#logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1065px;
    height: 45px;
    margin-top: 12mm;
    margin-bottom: 12mm;
    margin-left: 151px;
    float: left;

}

/*Logo(Left side)*/


div.logo {
    position: relative;
    width: 166px;
    height: 44px;
    box-sizing: border-box;
    float: left;
}

div.name {
    position: relative;
    box-sizing: border-box;
    height: 44px;
    width: 105px;
    float: left;
    margin-left: 15px;
}

.logo1 {
    float: left;
}

.wrapper {
    box-sizing: border-box;
    width: 46px;
    height: 44px;
    float: left;
    background-image: url(../img/logo1.png);
}

.wrapper:hover {
    box-sizing: border-box;
    width: 46px;
    height: 44px;
    float: left;
    background-image: url(../img/logo2.png);

}

.Milan{
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}
.Milan:hover .holidays{
    color: orangered;

}
.Milan:hover{
    color: orangered;
}
.holidays{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}
.holidays:hover{
    color: orangered;

}

/*Right side*/
div#contacts {
    float: right;

}

p.email {
    float: right;
    color: #fff;
}

p.phone {
    color: #fff;
    text-align: right;
}

/*Main (photos)*/
main {
    clear: both;
}
div.containerIMG {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1064px;
    height: 545px;
    margin: auto;
    clear: both;
}

/*Details buttons*/
.details {
    display: none;
    background-color: #F26522;
    box-sizing: border-box;
    width: 308px;
    height: 63px;
    position: absolute;
    bottom: 0;
    opacity:0;
    transition: 0.5ms;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1ms;

}
@keyframes show{
    0%{
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

.details-btn {
    text-decoration: none;
    position: absolute;
    top: 35px;
    right: 18px;
    color: #ffffff;
}

.details-btn::after {
    position: relative;
    content: "\003E";
    margin-left: 15px;
    display: inline-block;


}

.d-price1 {
    position: absolute;
    color: #ffffff;
    left: 21px;
    top: 16px;
    font-size: 10px;
}

.d-price2 {
    position: absolute;
    color: #ffffff;
    left: 21px;
    top: 31px;
    font-size: 20px;
}

.img1:hover .details {
    display: block;
    background-color: #F26522;


}

.price {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #ffffff;

}

.euro {
    font-size: 20px;
}

.description {
    margin-top: 20px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.description:hover {
    color: #F26522;
}

/*1*/



div.img1 {
    float: left;
    box-sizing: border-box;
    width: 312px;
    height: 201px;
    position: relative;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 5% 100%;
}


/*2*/


div.img2 {
    float: left;
    box-sizing: border-box;
    width: 312px;
    height: 201px;
    position: relative;
    margin-left: 67px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 5% 100%;


}

.img2:hover .details {
    display: block;
    background-color: #F26522;


}

/*3*/

div.img3 {
    float: right;
    box-sizing: border-box;
    width: 312px;
    height: 201px;
    position: relative;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 5% 100%;
}

.img3:hover .details {
    display: block;
    background-color: #F26522;
}

/*4*/


div.img4 {
    float: left;
    clear: left;
    box-sizing: border-box;
    margin-top: 96px;
    width: 312px;
    height: 201px;
    position: relative;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 5% 100%;
}

.img4:hover .details {
    display: block;
    background-color: #F26522;
}

/*5*/

div.img5 {
    float: left;
    box-sizing: border-box;
    margin-top: 96px;
    margin-left: 67px;
    width: 312px;
    height: 201px;
    position: relative;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 5% 100%;
}

.img5:hover .details {
    display: block;
    background-color: #F26522;
}

/*6*/
div.img6 {
    float: right;
    box-sizing: border-box;
    margin-top: 96px;
    width: 312px;
    height: 201px;
    position: relative;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, #fff, #000) 5% 100%;
}

.img6:hover .details {
    display: block;
    background-color: #F26522;
}

/*Footer*/


div#f-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #ffffff;
    margin-top: 61px;

}

p.copy {
    clear: both;
    display: block;
    text-align: center;
}